.mobile,
.btn-mobile {
  display: none;
}

@media (max-width: 500px) {
  .mobile {
    display: flex;
  }

  .btn-mobile {
    display: flex;
    border: none;
    background: none;
    cursor: pointer;
    z-index: 5;
  }

  .hamburguer {
    width: 30px;
    border-top: 4px solid;
  }

  .hamburguer::after,
  .hamburguer::before {
    content: "";
    display: block;
    height: 4px;
    background: currentColor;
    margin-top: 8px;
    transition: 0.3s;
    position: relative;
  }

  .hamburguer:hover {
    color: var(--color-primary-light);
  }

  .mobile.active .hamburguer {
    border-top-color: transparent;
  }

  .mobile.active .hamburguer::before {
    transform: rotate(135deg);
  }

  .mobile.active .hamburguer::after {
    transform: rotate(-135deg);
    top: -12px;
  }

  .mobile.active .btn-mobile {
    position: fixed;
    top: 24px;
    right: 20px;
  }

  .menu {
    position: fixed;
    top: 0px;
    right: -300px;
    z-index: 4;

    flex-direction: column;
    align-items: center;
    gap: 32px;

    height: 100vh;
    width: 300px;
    padding-top: 16%;
    background: var(--color-dark);
    box-shadow: 0 0 68px rgba(0, 0, 0, 0.59);
    transition: 1s;
  }

  .mobile.active .menu {
    right: 0;
    display: flex;
    align-items: center;
    transition: 0.7s;
  }

  .mobile .menu li a {
    font-size: 1.8rem;
  }
}
