.auth-background {
  background: url(../../assets/images/margherita.jpeg) no-repeat 100%/100%;
  background-size: cover;
  position: absolute;
  top: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
}

.auth-container {
  width: 450px;
  padding: 3rem;
  border-radius: 2rem;
  backdrop-filter: blur(4px);
  box-shadow: 0 4px 10px var(--color-dark);
}

.auth-container,
.auth-container form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.auth-container .subtitle {
  width: 250px;
  padding-top: 0;
  margin: 0 auto;
}

.auth-container form {
  width: 300px;
  gap: 1.4rem;
  margin-bottom: 14px;
}

.auth-container form button {
  padding: 16px;
}

.auth-container a {
  max-width: fit-content;
  margin: 12px auto 0;
  transition: 0.2s ease-in-out;
}

.auth-container a:hover {
  color: var(--color-primary);
}
