.base-button {
  display: inline-block;
  background: var(--color-primary-light);
  background: var(--color-gradient);
  color: var(--color-light);
  font-size: 1.6rem;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.base-button:hover {
  scale: 1.05;
  box-shadow: 0 0 12px var(--color-primary);
}

.base-button[disabled] {
  background: transparent;
  border: 1px solid var(--color-secondary);
  color: var(--color-secondary);
  cursor: not-allowed;
  scale: 1;
  box-shadow: none;
}

.small {
  border-radius: 4px;
  width: 28px;
  padding: 0.4rem 0.8rem;
}

.medium {
  border-radius: 4px;
  height: 38px;
  min-width: 38px;
  padding: 0.4rem 1.4rem;
}

.large {
  font-weight: 700;
  padding: 20px 20px;
  box-shadow: var(--box-shadow);
}

/* ANIMATION */

.large.animation {
  animation: moveUpDown 2s infinite;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
