.hero-container {
  position: absolute;
  top: 0;
  z-index: -1;
  height: 490px;
  width: 100%;

  background-image: url(../../assets/images/pizza-hero.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 25%;
  box-shadow: var(--box-shadow);
}

.hero-content {
  height: 354px;
  width: 100%;
  margin-top: 64px;
}

.hero-content h1,
.hero-content strong {
  font-size: 42px;
  margin-bottom: 32px;
}

.hero-content p {
  width: 360px;
  margin-bottom: 36px;
}
