#about,
#how-it-works,
#menu,
#cta-section,
#testimonials,
.attention-section {
  width: 70%;
  max-width: 87rem;
  margin-top: 96px;
}

.pizza-image {
  position: absolute;
  left: -65rem;
  top: -21rem;
  z-index: -1;
  width: 70rem;
  filter: drop-shadow(12px 24px 20px rgb(0, 0, 0));
}

#how-it-works {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.steps-list {
  width: 80%;
}

.step {
  display: flex;
  align-items: center;
}

.step:nth-child(odd) {
  justify-content: end;
}

.step strong {
  font-size: 5.6rem;
  margin-right: 12px;
  color: transparent;
  background: var(--color-gradient);
  -webkit-background-clip: text;
  background-clip: text;
}

.step p {
  width: 68%;
}

#cta-section,
.attention-section {
  width: 75%;
  max-width: 75rem;
  text-align: center;
}

.attention-section {
  margin-bottom: 96px;
}

.testimonial-container,
#menu .menu-list {
  display: flex;
  gap: 20px;
}

.control #back {
  margin-right: 10px;
}

#testimonials .control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  margin-bottom: 30px;
}

.testimonial-card,
.pizza-card {
  width: 27rem;
  background-color: var(--color-light);
  box-shadow: var(--box-shadow);
  border-radius: 10px;
  overflow: hidden;
  transition: 0.3s ease-in-out;
}

.testimonial-card {
  padding: 20px;
  min-height: 200px;
}

#menu .menu-list .pizza-card {
  justify-content: flex-start;
  padding-bottom: 20px;
}

figure.pizza-card:hover {
  transform: scale(1.05);
}

.pizza-card img {
  width: 100%;
}

.testimonial-card h3,
.pizza-card h3 {
  color: var(--color-dark);
  font-size: 1.8rem;
}

.pizza-card h3 {
  padding: 20px;
}

.testimonial-card p,
.pizza-card figcaption {
  color: var(--color-dark);
  font-size: 1.2rem;
  line-height: 18px;
  text-align: justify;
}

@media (max-width: 658px) {
  .steps-list {
    width: 100%;
  }
  
  .testimonial-card {
    min-height: 12rem;
    width: 100%;
  }

  .menu-list.mobile {
    overflow-x: auto;
  }

  .pizza-card {
    flex: 0 0 auto;
  }

  figure.pizza-card:hover {
    transform: none;
  }

  .pizza-card img {
    width: 100%;
  }

  .pizza-card h3 {
    color: var(--color-dark);
    font-size: 1.8rem;
    padding: 20px;
  }

  .pizza-card figcaption {
    color: var(--color-dark);
    font-size: 1.2rem;
    line-height: 18px;
    text-align: justify;
  }
}

@media (max-width: 400px) {
  #about,
  #how-it-works,
  #menu,
  #cta-section,
  #testimonials,
  .attention-section {
    width: 100vw;
    padding: 0 5%;
  }

  .pizza-image {
    display: none;
  }

  .steps-list {
    width: 100%;
  }

  .step {
    align-items: start;
  }

  .step:nth-child(odd) {
    justify-content: start;
  }

  .step strong {
    margin-top: 6px;
  }

  .step p {
    width: 100%;
  }

  .testimonial-card {
    min-height: 18rem;
  }
}

/* ANIMATION */
#about,
.cta-section {
  transform: scale(0);
  overflow: hidden;
  transition: transform 2s ease;
}

#about.visible,
.cta-section.visible {
  transform: scale(1);
}

#how-it-works.visible li:nth-child(odd) {
  animation: moveLeftToRight 1.5s ease-in-out;
}

#how-it-works.visible li:nth-child(even) {
  animation: moveRightToLeft 1.5s ease-in-out;
}

#menu {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 2s ease, transform 2s ease;
}

#menu.visible {
  opacity: 1;
  transform: translateY(0);
}

@keyframes moveLeftToRight {
  0% {
    transform: translateX(-400px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes moveRightToLeft {
  0% {
    transform: translateX(400px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
