.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  max-width: 1440px;
  padding: 20px 6%;
}

.navigation .logo {
  color: var(--color-primary-light);
  font-size: 2.8rem;
  padding: 0;
}

.navigation .logo:hover {
  scale: 1.1;
}

.navigation a {
  color: var(--color-light);
  font-size: 1.6rem;
  font-weight: 800;
  padding: 0 10px;
  transition: 0.3s ease-in-out;
}

.navigation nav ul {
  display: flex;
}

.navigation a:hover {
  color: var(--color-primary-light);
}

.cart {
  position: fixed;
  bottom: 10%;
  right: 34px;
  z-index: 2;
}

.cart svg {
  font-size: 2.4rem;
}

.cart strong {
  position: fixed;
  bottom: 13%;
  right: 32px;

  background-color: var(--color-light);
  font-size: 1rem;
  text-align: center;
  width: 20px;
  padding: 4px;
  border-radius: 50px;
}
