footer {
  position: absolute;
  bottom: 0;
  display: flex;
  z-index: 1;
  justify-content: space-between;
  background-color: var(--color-dark);
  padding: 20px 5%;
  width: 100%;
}

footer a,
footer p {
  font-size: 1.4rem;
  margin: 0;
}

.links-utils {
  display: flex;
  align-items: center;
  gap: 10px;
  font-style: normal;
}

.top {
  width: 68px;
}

.topo {
  background-color: transparent;
  border: none;
}
