/* RESET */
* {
  font-family: "Rubik", sans-serif;
  color: #fff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-size: 1.6rem;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

/* VARIABLES */
:root {
  --color-primary: rgb(161, 126, 0);
  --color-primary-light: rgb(255, 200, 0);
  --color-secondary: rgb(64, 50, 0);

  --color-light: rgb(255, 255, 255);
  --color-dark: rgb(50, 50, 50);

  --color-gradient: linear-gradient(
    180deg,
    var(--color-primary-light) 0%,
    var(--color-primary) 36%,
    var(--color-secondary) 100%
  );

  --bg-color: rgb(30, 30, 40);

  --box-shadow: 0 4px 12px rgba(0, 0, 0, 0.7);
}

/* GLOBALS */
html {
  font-size: 62.5%;
}

body {
  background-color: var(--bg-color);
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 1210px;
  margin: 0 auto;
}

