.banner {
  position: absolute;
  top: 0;
  z-index: -1;
  background-image: url(../../assets/images/pizza-hero.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 65%;
  height: 80vh;
  width: 100%;
  box-shadow: var(--box-shadow);
}

.menu-container {
  margin: 418px 0 60px;
  width: 1224px;
}

.menu-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
  margin-top: 32px;
  gap: 20px;
}

.pizza-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  background-color: var(--color-light);
  box-shadow: var(--box-shadow);
  border-radius: 12px;
}

.pizza-card img {
  width: 100%;
  box-shadow: 0px 4px 8px rgb(0, 0, 0);
}

.pizza-card h3 {
  color: var(--color-dark);
  font-size: 1.8rem;
  text-align: center;
  padding: 20px;
}

.pizza-card figcaption {
  color: var(--color-dark);
  font-size: 1.2rem;
  line-height: 18px;
  margin: 0 20px;
  min-height: 54px;
}

.pizza-card strong {
  display: block;
  font-size: 2rem;
  text-align: center;
}

.pizza-card .add-cart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 20px 20px;
}
