.container-404 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.img404 {
  width: 40%;
  border-radius: 50%;
  border-radius: 32px;
}

.container-404 button {
	margin-top: 24px;
}